.card {
  /* Sizing */
  height: 100%;
  width: 100%;

  transform-style: preserve-3d;

  /* Content Alignment */
  position: relative;

  /* Styling */
  border-radius: 5px;
  border: 5px solid white;
  box-shadow: 0px 0px 100px rgba(13, 185, 207, 0.368);
  user-select: none;
  cursor: pointer;
}

.card-front,
.card-back {
  /* Sizing */
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  /* Alignment */
  position: absolute;

  /* Content Alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Content Styling */
  font-family: Montserrat;
  font-weight: 800;
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.card-front {
  background-color: #73d0ff;
  background-image: url(https://media.tenor.com/83EzM1roYzkAAAAM/goku.gif);
  background-size: cover;
}

.card-back {
  background-color: #ffad66;
  transform: rotateY(180deg);
  background-image: url(https://media.tenor.com/4dbqsJQYHVkAAAAM/vegeta-blue.gif);
  background-position: center;
  background-size: cover;
}
